@model Swp.Model.Uzytkownik

@{
    ViewData["Title"] = "Detale";
}

<h2>Detale</h2>

<div>
    <h4>Uzytkownik</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Login)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Login)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Haslo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Haslo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Iduzytkownika">Edytuj</a> |
    <a asp-action="Index">Powrót</a>
</div>
