@model IEnumerable<Swp.Model.Uzytkownikrola>
@{
    ViewData["Title"] = "Index";
    IEnumerable<Swp.Model.Zolnierz> zolnierz = ViewData["FullName"] as IEnumerable<Swp.Model.Zolnierz>;
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
   @if (User.Identity.IsAuthenticated)
        {
            @if (User.IsInRole("Administrator"))
            {
        <p> TWOJA STARA</p>
            }
        }

<table class="table">
    <thead>
        <tr>
            <th>
                Użytkownik
            </th>
            <th>
                Zołnierz
            </th>
            <th>
                Rola
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
       
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IduzytkownikaNavigation.Login)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => zolnierz.Where(z => z.Iduzytkownika == item.Iduzytkownika).FirstOrDefault().FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Idroli)
                </td>

                <td>
                    <a asp-action="Edit" asp-route-id="@item.Iduzytkownika">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Iduzytkownika">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Iduzytkownika">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
