@model IEnumerable<Swp.Model.Uzytkownik>
@{
    ViewData["Title"] = "Index";
    IEnumerable<Swp.Model.Uzytkownik> uzytkownik = ViewData["Uzytkownik"] as IEnumerable<Swp.Model.Uzytkownik>;
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Dodaj użytkownika</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                Użytkownik
            </th>
            <th>
                Zołnierz
            </th>
            <th>
                Rola
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
       
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Login)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Zolnierz.Where(z => z.Iduzytkownika == item.Iduzytkownika).FirstOrDefault().FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdroliNavigation.Nazwa)
                </td>

                <td>
                    <a asp-action="Edit" asp-route-id="@item.Iduzytkownika">Edytuj</a> |
                    <a asp-action="Details" asp-route-id="@item.Iduzytkownika">Informacje</a> |
                    <a asp-action="Delete" asp-route-id="@item.Iduzytkownika">Usuń</a>
                </td>
            </tr>
        }
    </tbody>
</table>
