<!DOCTYPE html>
@{IEnumerable<Swp.Model.Uzytkownik> logged = ViewData["Logged"] as IEnumerable<Swp.Model.Uzytkownik>;
}
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SWP - @ViewData["Title"]</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/4,2,1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-expand-sm navbar-dark fixed-top bg-dark">
            <a class="navbar-brand" href="/">SWP</a>
            <button aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#topNavbarCollapse" data-toggle="collapse" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="topNavbarCollapse">

                <ul class="mr-auto navbar-nav">
                    @if (User.Identity.IsAuthenticated && ((IEnumerable<Swp.Model.Uzytkownik>)ViewData["Logged"]).Where(z => z.Iduzytkownika.ToString() == User.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier).Value).FirstOrDefault().Idroli != null)
                    {
                        @if (((IEnumerable<Swp.Model.Uzytkownik>)ViewData["Logged"]).Where(z => z.Iduzytkownika.ToString() == User.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier).Value).Select(a => a.IdroliNavigation.Nazwa).FirstOrDefault() == "Administrator")
                        {
                            <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Zolnierz" asp-action="Index">Ewidencja żołnierzy</a></li>
                            <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Wyjscia" asp-action="Index">Książka wychodzących</a></li>
                            <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Bron" asp-action="Index">Ewidencja uzbrojenia</a></li>
                            <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Grupa" asp-action="Index">Grupy</a></li>
                            <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Wiadomosci" asp-action="Index">Wiadomości</a></li>
                            <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Uzytkownicy" asp-action="Index">Użytkownicy</a></li>
                            <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Pliki" asp-action="Index">Pliki</a></li>
                            <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Sluzby" asp-action="Index">Służby</a></li>
                            <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Zajecia" asp-action="Index">Zajęcia</a></li>
                        }
                        @if (((IEnumerable<Swp.Model.Uzytkownik>)ViewData["Logged"]).Where(z => z.Iduzytkownika.ToString() == User.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier).Value).Select(a => a.IdroliNavigation.Nazwa).FirstOrDefault() == "Sluzba")
                        {
                            <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Zolnierz" asp-action="Index">Ewidencja żołnierzy</a></li>
                            <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Wyjscia" asp-action="Index">Książka wychodzących</a></li>
                            <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Bron" asp-action="Index">Ewidencja uzbrojenia</a></li>
                            <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Grupa" asp-action="Index">Grupy</a></li>
                            <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Wiadomosci" asp-action="Index">Wiadomości</a></li>
                            <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Pliki" asp-action="Index">Pliki</a></li>
                            <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Sluzby" asp-action="Index">Służby</a></li>

                        }
                        @if (((IEnumerable<Swp.Model.Uzytkownik>)ViewData["Logged"]).Where(z => z.Iduzytkownika.ToString() == User.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier).Value).Select(a => a.IdroliNavigation.Nazwa).FirstOrDefault() == "Zolnierz")
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Grupa" asp-action="Details" asp-route-id="@(((IEnumerable<Swp.Model.Zolnierz>)ViewData["Soldiers"])
                                .Where(z => z.Iduzytkownika.ToString() == User.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier).Value)
                                .Select(a => a.Idgrupy).FirstOrDefault())">Grupa</a>
                            </li>
                            <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Bron" asp-action="Index">Uzbrojenie</a></li>

                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Grupa" asp-action="Zajecia" asp-route-id="@(((IEnumerable<Swp.Model.Zolnierz>)ViewData["Soldiers"])
                                .Where(z => z.Iduzytkownika.ToString() == User.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier).Value)
                                .Select(a => a.Idgrupy).FirstOrDefault())">Zajęcia</a>
                            </li>
                            <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Wiadomosci" asp-action="Index">Wiadomości</a></li>
                            <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Pliki" asp-action="Index">Pliki</a></li>
                            <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Sluzby" asp-action="Index">Służby</a></li>
                        }

                    }






                </ul>

                <partial name="_LoginPartial" />

            </div>
        </nav>
    </div>



    <partial name="_CookieConsentPartial" />

    <div class="container body-content">
        <br />
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2018 - System Wspomagania Pododdziału</p>
        </footer>
    </div>


    <environment exclude="Development">
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    </environment>
    <environment include="Development">
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    </environment>

    @RenderSection("Scripts", required: false)
    <script type="text/javascript" src="/dist/polyfills.bundle.js"></script>
    <script type="text/javascript" src="/dist/vendor.bundle.js"></script>
    <script type="text/javascript" src="/dist/app.bundle.js"></script>
</body>
</html>
