@model Swp.Model.Zolnierz

@{
    ViewData["Title"] = "SWP - " + Html.DisplayNameFor(model => model.FullName);
}

<h2>Dane osobowe</h2>

<div>
    <h4>@Html.DisplayFor(model.StopnieSlownik[model2 => model2.Stopien]) @Html.DisplayFor(model => model.Imie) @Html.DisplayFor(model => model.Nazwisko)</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Adres)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Adres)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Imieojca)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Imieojca)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Imiematki)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Imiematki)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Pesel)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pesel)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Numertelefonu)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Numertelefonu)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdgrupyNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdgrupyNavigation.Idgrupy)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Idzolnierza">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
