@model IEnumerable<Swp.Model.Zolnierz>

@{
    ViewData["Title"] = "Ewidencja";
    IEnumerable<Swp.Model.Uzytkownik> logged = ViewData["Logged"] as IEnumerable<Swp.Model.Uzytkownik>;
}

<h2>Ewidencja pododdziału</h2>

@if (logged.Where(z => z.Iduzytkownika.ToString() == User.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier).Value).Select(a => a.IdroliNavigation.Nazwa).FirstOrDefault() == "Administrator")
{
    <p>
        <a asp-action="Create">Dodaj</a>
    </p>
}
    <table class="table">
        <thead>
            <tr>

                <th>
                    Żołnierz
                </th>
                <th>
                    Numer telefonu
                </th>
                <th>
                    Grupa
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.StopnieSlownik[item.Stopien]) @Html.DisplayFor(modelItem => item.Imie) @Html.DisplayFor(modelItem => item.Nazwisko)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Numertelefonu)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdgrupyNavigation.Idgrupy)
                    </td>
                    @if (logged.Where(z => z.Iduzytkownika.ToString() == User.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier).Value).Select(a => a.IdroliNavigation.Nazwa).FirstOrDefault() == "Administrator")
                    {
                        <td>

                            <a asp-action="Details" asp-route-id="@item.Idzolnierza">Informacje</a> |
                            <a asp-action="Edit" asp-route-id="@item.Idzolnierza">Edytuj</a> |
                            <a asp-action="Delete" asp-route-id="@item.Idzolnierza">Usuń</a>
                        </td>
                    }
                    @if (logged.Where(z => z.Iduzytkownika.ToString() == User.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier).Value).Select(a => a.IdroliNavigation.Nazwa).FirstOrDefault() == "Sluzba")
                    {
                        <td>

                            <a asp-action="Details" asp-route-id="@item.Idzolnierza">Informacje</a>
                        </td>
                    }
                </tr>

            }
        </tbody>
    </table>
