@model Swp.Model.Detalewiadomosci

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Detalewiadomosci</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Dataotrzymania)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Dataotrzymania)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdwiadomosciNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdwiadomosciNavigation.Idwiadomosci)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdzolnierzaNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdzolnierzaNavigation.Idzolnierza)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Idwiadomosci" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
