@model Swp.Model.Bron

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4> @Html.DisplayFor(model => model.Nazwabroni)</h4>
    <h3> @Html.DisplayFor(model => model.Idbroni)</h3>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nazwabroni)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nazwabroni)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StanBroni)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StanBroni)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdzolnierzaNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdzolnierzaNavigation.Imie)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Idbroni">Edytuj</a> |
    <a asp-action="Index">Powrót</a>
</div>
