@model Swp.Model.Grupa

@{
    ViewData["Title"] = @Html.DisplayFor(model => model.Idgrupy);
}

<h2>@Html.DisplayFor(model => model.Idgrupy)</h2>

<div>
    <table class="table">
        <thead>
            <tr>
                <th>
                   </th>   
                <th>
                   
                </th>

            </tr>
        </thead>
        <tbody>
            @{ int i = 1;}
            @foreach (var item in Model.Zolnierz)
            {
                <tr>
                    <td>
                        @i
                        @{i++;}
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StopienString) @Html.DisplayFor(modelItem => item.FullName)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.Idgrupy">Edytuj</a> |
        <a asp-action="Index">Powrót</a>
    </div>
