@model Swp.Model.Grupa

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Zajecia grupy @Html.DisplayNameFor(model => model.Nazwagrupy)</h4>
    <hr />
    <dl class="dl-horizontal">


    <table class="table">
        <thead>
            <tr>
                <th>
                    Stopień
                </th>
                <th>
                    Imie
                </th>
                <th>
                    Nazwisko
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Zolnierz)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.StopnieSlownik[item.Stopien])
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Imie)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nazwisko)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.Idgrupy">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>
