@model IEnumerable<Swp.Model.Grupa>

@{
    ViewData["Title"] = "Grupy";
}

<h2>Lista grup</h2>

<p>
    <a asp-action="Create">Dodaj grupę</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Numer grupy
            </th>
            <th>Opis grupy</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Idgrupy)
                        
                    </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nazwagrupy)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Idgrupy">Edytuj nazwę</a> |
                <a asp-action="Details" asp-route-id="@item.Idgrupy">Lista grupy</a> |
                <a asp-action="Zajecia" asp-route-id="@item.Idgrupy">Zajęcia grupy</a> |
                <a asp-action="Delete" asp-route-id="@item.Idgrupy">Usuń</a>
            </td>
        </tr>
}
    </tbody>
</table>
