@model Swp.Model.Sluzba

@{
    ViewData["Title"] = "Służba";
}

<h2>Służba</h2>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Data służby
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Datasluzby)
        </dd>
        <dt>
            Rodzaj służby
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Rodzaj)
        </dd>
        <dt>
            Żołnierz pełniący służbę
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdzolnierzaNavigation.StopienString) @Html.DisplayFor(model => model.IdzolnierzaNavigation.FullName)
        </dd>
    </dl>

    <form asp-action="Delete" asp-route-id="@Model.Idsluzby">
        <input type="submit" value="Usuń" class="btn btn-link" /> |
        <a asp-action="Index">Powrót do list</a>
    </form>
</div>
