@model IEnumerable<Swp.Model.Wyjazd>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RodzajWyjazdu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Datawyjazdu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdzolnierzaNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RodzajWyjazdu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Datawyjazdu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdzolnierzaNavigation.Idzolnierza)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Idwyjazdu">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Idwyjazdu">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Idwyjazdu">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
