@model Swp.Model.Wiadomosc

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Wiadomosc</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Tytul)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tytul)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Tresc)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tresc)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdzolnierzaNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdzolnierzaNavigation.Idzolnierza)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Idwiadomosci">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
