@model IEnumerable<Swp.Model.Wiadomosc>

@{
    ViewData["Title"] = "Odebrane";
}

<h2>Odebrane</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                Nadawca
            </th>
            <th>
                Data
            </th>
            <th>
                Tytuł
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdzolnierzaNavigation.Imie) @Html.DisplayFor(modelItem => item.IdzolnierzaNavigation.Nazwisko)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Detalewiadomosci.Dataotrzymania)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tytul)
                </td>
                <td>
                    <a asp-action="Odebrana" asp-route-id="@item.Idwiadomosci">Wyświetl</a>
                </td>
            </tr>
        }
        </tbody>
</table>
<a asp-action="Index">Powrót do wiadomości</a>
