@model Swp.Model.Zajecie

@{
    ViewData["Title"] = "Usuń";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Usuń</h2>

<h3>Czy jesteś pewien?</h3>
<div>
    <h4>Zajecie</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Datazajecia)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Datazajecia)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Nazwazajecia)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nazwazajecia)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Miejsce)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Miejsce)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdgrupyNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdgrupyNavigation.Idgrupy)
        </dd>
    </dl>
    
    <form asp-action="Usuń">
        <input type="hidden" asp-for="Idzajecia" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Powrót</a>
    </form>
</div>
