@model Swp.Model.Zajecie

@{
    ViewData["Title"] = "Detale";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detale</h2>

<div>
    <h4>Zajecie</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Datazajecia)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Datazajecia)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Nazwazajecia)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nazwazajecia)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Miejsce)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Miejsce)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdgrupyNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdgrupyNavigation.Idgrupy)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edytuj" asp-route-id="@Model.Idzajecia">Edytuj</a> |
    <a asp-action="Index">Powrót</a>
</div>
