@model IEnumerable<Swp.Model.Zajecie>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
               Data zajęć
            </th>
            <th>
               Grupa
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Datazajecia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdgrupyNavigation.Idgrupy)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Idzajecia">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Idzajecia">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Idzajecia">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
