@model IEnumerable<Swp.Model.Zajecie>

@{
    ViewData["Title"] = "LIsta zajęć";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Lista zajęć</h2>

<p>
    <a asp-action="Create">Stwórz zajęcie</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Datazajecia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nazwazajecia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Miejsce)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdgrupyNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Datazajecia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nazwazajecia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Miejsce)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdgrupyNavigation.Idgrupy)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Idzajecia">Edytuj</a> |
                <a asp-action="Details" asp-route-id="@item.Idzajecia">Detale</a> |
                <a asp-action="Delete" asp-route-id="@item.Idzajecia">Usuń</a>
            </td>
        </tr>
}
    </tbody>
</table>
